
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:wght@100;300;400;500;700;900&display=swap');



        body {
            font-family: Arial, sans-serif;
            background: #000;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }

        .calculator {
            background: #000;
            padding: 20px;
            border-radius: 20px;
            width: 300px;
        }

        #display {
            width: 100%;
            height: 70px;
            font-size: 40px;
            text-align: right;
            padding: 10px;
            border: none;
            background: #000;
            color: white;
            margin-bottom: 15px;
        }

        .row {
            display: flex;
            justify-content: space-between;
            margin-bottom: 10px;
        }

        button {
            width: 60px;
            height: 60px;
            border-radius: 50%;
            font-size: 20px;
            border: none;
            cursor: pointer;
        }

        .btn-grey {
            background: #a5a5a5;
            color: black;
        }

        .btn-dark {
            background: #333;
            color: white;
        }

        .btn-orange {
            background: orange;
            color: white;
        }

        .zero {
            width: 130px;
            border-radius: 30px;
            text-align: left;
            padding-left: 20px;
        }
